<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCATApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCATApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <PCATApp.Properties.Settings>
            <setting name="Preferences" serializeAs="String">
                <value>About PCAT</value>
            </setting>
            <setting name="pandaPath" serializeAs="String">
                <value />
            </setting>
        </PCATApp.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PCATApp.Properties.Settings>
            <setting name="ProgramVersion" serializeAs="String">
                <value>v0.1 ALPHA</value>
            </setting>
        </PCATApp.Properties.Settings>
    </applicationSettings>
</configuration>
